<div class="flex justify-center w-full max-h-96">
  <ul class="w-1/2 scroll-auto">
    <li *ngFor="let tweet of tweets" class="bg-cyan-900">
      <span class="text-white m-1.5">{{tweet.content}}</span>
      {{tweet.user.name}}
    </li>
  </ul>
</div>

<ng-container *ngIf="auth.isAuthenticated()">
  <div class="flex justify-center w-full">
    <form>
      <div class="mb-6">
        <label for="content" class="block mb-2 text-sm font-medium">tweet</label>
        <input type="text" id="content" name="content" [(ngModel)]="content" (keyup.enter)="submit()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
    </form>
  </div>

</ng-container>
